{% extends "Base.html" %}

{% block content %}
    <h1 style="text-align: center;">Add New Classes to the Schedule</h1>

    <form method="POST" class="container">
        <div class="mb-3">
            <label for="clase_name " class="form-label fs-3">
                Class Name:
            </label>
            <input class="form-control" type="text" id="class_name" name="class_name" placeholder="Enter class name"/>
        </div>

        <div class="mb-3">
            <label for="instructor" class="form-label fs-3">
                Instructor Name:
            </label>
            <input class="form-control" type="text" id="instructor" name="instructor" placeholder="Enter instructor name"/>
        </div>

        <div class="mb-3">
            <label for="scheduled_date" class="form-label fs-3">
                Date Scheduled:
            </label>
            <input class="form-control" type="text" id="scheduled_date" name="scheduled_date" placeholder="Enter scheduled date"/>
        </div>

        <div class="mb-3">
            <label for="scheduled_time" class="form-label fs-3">
                Time Scheduled:
            </label>
            <input  class="form-control" type="text" id="scheduled_time" name="scheduled_time" placeholder="Enter scheduled time"/>
        </div>
        
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg">
                Submit
            </button>
        </div>
        

    </form>



{% endblock %}