{% extends "Base.html" %}
{% block content %}

    <h1  style="text-align: center;">Class Schedule</h1>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/create" class="d-grid gap-2 col-6 mx-auto"><button type="button" class="btn btn-primary btn-lg">Add Classes</button></a>
    </div>
    <br>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
    {% if classes|length < 1 %}
        
        <div>No Classes Scheduled. Please add classes!</div>
    {% endif %}

    {% for (class_name, instructor, date, time) in classes %}
        <div class="d-grid gap-2 col-6 mx-auto">
             <ul  style="display:inline-block;">
                <li > <b>Class Name:</b> {{class_name}}</li>
                <li> <b>Instructor Name:</b> {{instructor}}</li>
                <li> <b>Date Scheduled:</b> {{date}}</li>
                <li> <b>Time Scheduled:</b> {{time}}</li>
             </ul>   
        </div>
    <br>
    <br>
    <hr  class="d-grid gap-2 col-6 mx-auto" style="width:50%">
    {% endfor %}
    </div>    

{% endblock %}